/* body{
background-color: #7af097;
} */

.cd1{
    text-align: center;
}

/* .btn1{
    padding: 0rem;
    background: #09a155;
    color: #ffffff;
   
} */

/* .nav-link{
    text-align: center;
    width:100%; 
    display: inline-block;
    border: 2px solid none;
    padding: 6px;
    color: #fff;
    text-decoration: none;
  
}

.nav-link:hover{
    background: #7af097;
    color: #fff;
} */



